.items-card {
    display: flex;
    flex-direction: row;
    padding: 0 50px 0 50px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 0 30px 10px 30px;
}

.item-info{
    display: flex;
    flex-direction: column;
}

.item-info > h2 {
    margin: 21px 0 0 0;
}

.item-info2 {
    display: flex;
    flex-direction: row;
}

.item-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
}

.divider {
    height: 10px;
}

.divider2 {
    width: 10px;
}

.editBtn {
    border: 2px solid green;
}

.deleteBtn {
    border: 2px solid #FF4C55;
}